/*********************** GENERAL *************************/
* {
	box-sizing:border-box ;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	}

/*********************** HEADER *************************/
header {
	text-align: center;
}
header img {
	width: 100%;
}
h2 {
	color: #df9fbf;
	font-size: 2rem;
	padding: 6px;
	background-color: #f2d9e6;
	margin: 0;
}

/*********************** NAV *************************/
nav ul {
	background-color: #df9fbf;
	margin: 0;
}
nav li {
	list-style-type: none;
	display: inline-block;
	padding: 6px 8px 6px 8px;
	font-size: 1.5rem;
}
li:hover {
	background-color: #ecc6d9;
}
nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
/*********************** MAIN IN TUTTE ******************/
main {
	font-size: 1.4rem;
}

.container {
	width: 70%;
	max width: 700px;
	margin: 15px auto;
	text-align: center;
}
/********************* GALLERY NEI VIAGGI *********************/
#viaggi {
	padding-top: 15px;
	padding-bottom: 15px;
}
#viaggi img {
	width: 100%;
	max-width: 400px;
}
.uk {
	padding: 15px;
}
#viaggi p {
	color: black;
	margin-top: 4px;
	margin-bottom: 4px;
}
#viaggi .item {
	float: left;
	padding: 8px;
	width: 50%;
}
#viaggi a{
	text-decoration: none;
}
#viaggi .item:hover {
	background-color: #ecc6d9;
}
#viaggi .item:nth-child(2n) {
	clear: left;
}
.clearfix::after {
	content:"";
	clear: both;
	display: table;
}
/********************  GALLERY NELLA HOME ********************/
.container-g {
	width: 85%;
	max width: 700px;
	margin: 15px auto;
	text-align: center;
}
#gallery img {
	width: 32%;
}
#gallery {
	margin: 15px 5px 15px 5px;
}

/************************* FOOTER **********************/
.social {
	text-align: center;
	margin-top: 15px;
}
.social a {
	padding: 8px 10px 8px 10px;
}