/*********************** GENERAL *************************/
html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	}

/*********************** HEADER *************************/
header {
	text-align: center;
}
header img {
	width: 100%;
}
h2 {
	color: #df9fbf;
	font-size: 2rem;
	padding: 6px;
	background-color: #f2d9e6;
	margin: 0;
}

/*********************** NAV *************************/
nav ul {
	background-color: #df9fbf;
	margin: 0;
}
nav li {
	list-style-type: none;
	display: inline-block;
	padding: 6px 8px 6px 8px;
	font-size: 1.5rem;
}
li:hover {
	background-color: #ecc6d9;
}
nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
/*********************** MAIN IN TUTTE ******************/
main {
	font-size: 1.4rem;
}

.container {
	width: 70%;
	max width: 700px;
	margin: 15px auto;
	text-align: center;
}
/********************* GALLERY NEI VIAGGI *********************/
ul img {
	width: 50%;
	max-width: 400px;
}
#viaggi ul {
	background-color: #df9fbf;
	padding:0;
}

#viaggi li {
	list-style-type: none;
	padding: 6px 6px 6px 6px;
	display: inline-block;
}
/********************  GALLERY NELLA HOME ********************/

#gallery img {
	width: 32%;
}
#gallery {
	margin: 15px 5px 15px 5px;
}

/************************* FOOTER **********************/
.social {
	text-align: center;
	margin-top: 15px;
}
.social a {
	padding: 8px 10px 8px 10px;
}